body {
  background: #17182b;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

#board {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  width: 480px;
  margin: 20px auto;
}

.cell {
  width: 60px;
  height: 60px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.white { background:#eee; }
.black { background:#555; }

.selected {
  outline: 3px solid yellow;
}

.move::after {
  content:"";
  width:20px;
  height:20px;
  border-radius:50%;
  background: green;
}

.capture {
  background: red !important;
}

img {
  width:90%;
  pointer-events:none;
}
